In [2]:
import pandas as pd
import os


relative_data_path = '../../data/raw/' 
file_name = 'X01_범죄 피해자.csv' # ⚠️ 컴퓨터에서 변경한 가장 단순한 이름으로 가정
file_path = os.path.join(relative_data_path, file_name)

# 2. CSV 파일 읽기
try:
    df_victim = pd.read_csv(file_path, encoding='utf-8')
    
    # 데이터가 잘 불러와졌는지 확인하기 위해 상위 5개 행을 출력
    print("데이터 불러오기 성공!")
    print(df_victim.head())
    
except FileNotFoundError:
    print(f"오류: '{file_path}' 파일을 찾을 수 없습니다. 파일 경로와 이름을 다시 확인해주세요.")
except Exception as e:
    # 한글 인코딩 문제로 오류가 날 경우를 대비한 추가 처리
    print(f"다른 인코딩으로 재시도 중... 현재 오류: {e}")
    try:
        df_victim = pd.read_csv(file_path, encoding='cp949') # 윈도우 기본 인코딩
        print("데이터 불러오기 성공 (cp949)")
        print(df_victim.head())
    except:
        print("파일 불러오기에 실패했습니다. 파일이 깨졌거나 인코딩 문제가 심각합니다.")

데이터 불러오기 성공!
  범죄유형       성별 Unnamed: 1  \
0           NaN        NaN
1         전체범죄           계
2           NaN         남성
3           NaN         여성
4           NaN         미상

  2020년                   2021년                   2022년                   2023년                   2024년  \
0                                                 건수
1                                          1,587,866
2                                            739,995
3                                            458,318
4                                            389,553

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        구성비         건수        구성비         건수        구성비         건수
1      100.0  1,429,826      100.0  1,482,433      100.0  1,520,200
2       46.6    615,647       43.1    648,849       43.8    661,271
3       28.9    406,593       28.4    429,065       28.9    440,826
4       24.5    407,586       28.5    404,519       27.3    418,103

  Unnamed: 9 Unnamed: 10 Unnamed: 11
0        구성비          건수         구성비
1      100.0   1,583,108       100.0
2       43.5     699,382        44.2
3       29.0     473,580        29.9
4       27.5     410,146        25.9

In [8]:
df_victim1=df_victim.iloc[5:20]
df_victim2=df_victim.iloc[25:29]
df_final_victim=pd.concat([df_victim1,df_victim2],axis=0,ignore_index=True)

In [9]:
display(df_final_victim)

,범죄유형 성별,Unnamed: 1,2020년 2021년 2022년 2023년 2024년,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,살인범죄,계,724,100.0,658,100.0,702,100.0,770,100.0,772,100.0
1,NaN,남성,416,57.5,381,57.9,407,58.0,443,57.5,436,56.5
2,NaN,여성,285,39.4,269,40.9,293,41.7,327,42.5,336,43.5
3,NaN,미상,23,3.1,8,1.2,2,0.3,0,0.0,0,0.0
4,강도범죄,계,663,100.0,495,100.0,516,100.0,573,100.0,457,100.0
5,NaN,남성,367,55.4,260,52.5,298,57.8,324,56.5,270,59.1
6,NaN,여성,277,41.8,224,45.3,218,42.2,248,43.3,187,40.9
7,NaN,미상,19,2.8,11,2.2,0,0.0,1,0.2,0,0.0
8,강간범죄3),계,"6,136",100.0,"6,076",100.0,"6,414",100.0,"6,028",100.0,"5,674",100.0
9,NaN,남성,117,1.9,124,2.0,158,2.5,132,2.2,136,2.4
10,NaN,여성,"5,987",97.6,"5,899",97.1,"6,226",97.1,"5,896",97.8,"5,538",97.6
11,NaN,미상,32,0.5,53,0.9,30,0.5,0,0.0,0,0.0
12,강 제\n추행범죄4),계,"15,344",100.0,"14,201",100.0,"15,864",100.0,"16,189",100.0,"15,377",100.0
13,NaN,남성,"1,310",8.5,"1,257",8.9,"1,478",9.3,"1,766",10.9,"1,878",12.2
14,NaN,여성,"13,835",90.2,"12,554",88.4,"14,196",89.5,"14,422",89.1,"13,499",87.8
15,폭력범죄,계,"265,768",100.0,"232,661",100.0,"245,286",100.0,"234,561",100.0,"219,798",100.0
16,NaN,남성,"148,051",55.7,"124,208",53.4,"137,728",56.1,"145,141",61.9,"136,646",62.2
17,NaN,여성,"89,007",33.5,"78,738",33.8,"83,770",34.2,"85,701",36.5,"80,299",36.5
18,NaN,미상,"28,710",10.8,"29,715",12.8,"23,788",9.7,"3,719",1.6,"2,853",1.3