In [3]:
import pandas as pd

file_name = "경찰청_서울특별시지방경찰청_서울특별시_경찰서별_112신고_출동현황_20241231.csv"
df_original = pd.read_csv(f"./{file_name}",encoding="euc-kr")
df = df_original.copy()
df.head()

,경찰서,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,강남,97296,98690,100159,103080,99168,96852,98946,96853,103048,98805,110242,122255,120466,103837
1,강동,84504,87888,95647,98459,94193,87446,89844,86513,90264,89662,89136,94601,91280,88670
2,강북,76395,77858,80675,86820,79634,76723,74852,74597,77238,70906,70374,81626,78078,73199
3,강서,100005,101979,112628,121142,116561,111972,113142,113955,120733,114681,112892,124100,121481,115142
4,관악,97860,100626,112035,120163,113627,108733,107344,112146,120676,113418,112991,127156,120381,112242

In [ ]:

df.columns = df.columns.str.strip()
df = df[['경찰서'] + [str(y) for y in range(2020, 2025)]]
df = df.sort_values(by='2024', ascending=False).reset_index(drop=True)
df

      경찰서    2020    2021    2022    2023    2024
0     송파   124680  127279  139981  133883  129399
1    영등포   110595  111776  125151  125790  119260
2     마포   100672  102958  118499  118999  118997
3     강서   114681  112892  124100  121481  115142
4     관악   113418  112991  127156  120381  112242
5     강남    98805  110242  122255  120466  103837
6     강동    89662   89136   94601   91280   88670
7    동대문    84159   81689   88538   87216   85806
8     중랑    86923   84004   89183   87617   85496
9     노원    87338   86084   93587   92050   85371
10    구로    84639   82252   86579   87039   83147
11    광진    83897   80598   97974   87499   82149
12    용산    69847   70794   86771   81320   81795
13    서초    79585   80928   93345   87073   80062
14    수서    72465   76145   82927   79283   78478
15    강북    70906   70374   81626   78078   73199
16    양천    70914   72390   75542   73549   68861
17    동작    68850   67445   75203   73385   68249
18   서대문    58517   61711   66645   66234   62706
19    금천    60586   60924   64525   64927   61789
20    성동    56877   61178   69288   66802   61653
21    도봉    52755   53731   59677   59285   57054
22    종로    38328   39591   49461   50301   50780
23    은평    53419   46128   47086   45544   44408
24    중부    39055   40617   46089   45743   43784
25    서부    35440   42386   45792   44809   42572
26    성북    39018   39500   43794   42821   40689
27    종암    33742   33702   36522   36617   35595
28    혜화    30589   29596   34508   33413   32929
29   남대문    23098   25660   31652   32558   30801
30    방배    25101   25555   27920   26764   30660

In [8]:
# csv파일로 저장
file_name = 'X02_전처리_경찰서별_112_신고_출동현황.csv'

# DataFrame을 CSV 파일로 저장합니다.
df.to_csv(file_name, encoding='utf-8', index=False)

print(f"DataFrame이 '{file_name}' 이름으로 저장되었습니다.")

DataFrame이 'X02_전처리_경찰서별_112_신고_출동현황.csv' 이름으로 저장되었습니다.