In [2]:
import pandas as pd
import os


relative_data_path = '../../data/raw/' 
file_name = 'X07_성폭력 영향요소 융합데이터.csv' # ⚠️ 컴퓨터에서 변경한 가장 단순한 이름으로 가정
file_path = os.path.join(relative_data_path, file_name)

# 2. CSV 파일 읽기
try:
    df_influence = pd.read_csv(file_path, encoding='utf-8')
    
    # 데이터가 잘 불러와졌는지 확인하기 위해 상위 5개 행을 출력
    print("데이터 불러오기 성공!")
    print(df_influence.head())
    
except FileNotFoundError:
    print(f"오류: '{file_path}' 파일을 찾을 수 없습니다. 파일 경로와 이름을 다시 확인해주세요.")
except Exception as e:
    # 한글 인코딩 문제로 오류가 날 경우를 대비한 추가 처리
    print(f"다른 인코딩으로 재시도 중... 현재 오류: {e}")
    try:
        df_influence = pd.read_csv(file_path, encoding='cp949') # 윈도우 기본 인코딩
        print("데이터 불러오기 성공 (cp949)")
        print(df_influence.head())
    except:
        print("파일 불러오기에 실패했습니다. 파일이 깨졌거나 인코딩 문제가 심각합니다.")

데이터 불러오기 성공!
   OCRN_YR PLCST_NM  SVLNC  DTVC  STKNG  RPRT_CASCNT_WHOL  RPRT_SEX_MALE  \
0  ﻿"2022"       제천     36    90     27               153             40
1     2022     청주상당    106   231    132               469            116
2     2022       옥천      9     8      7                24              8
3     2022       영동     15    16     10                41             16
4     2022       충주     61   226     59               346             75

   RPRT_SEX_FMLE  RPRT_SEX_UNKWN  RPRT_SEX_ETC  ...  OCRN_TIZN_16  \
0             87              26             0  ...             5
1            327              26             0  ...            18
2             16               0             0  ...             2
3             25               0             0  ...             1
4            232              39             0  ...            10

   OCRN_TIZN_17  OCRN_TIZN_18  OCRN_TIZN_19  OCRN_TIZN_20  OCRN_TIZN_21  \
0             4             4             8             9             1
1            19            17            25            13            24
2             1             0             0             0             1
3             1             1             2             1             1
4             9            10            16            18            15

   OCRN_TIZN_22  OCRN_TIZN_23  MNTH_AVE_INCOME_AMT  TOTL_RESID_PUL_CNT
0            12            20                    0                   0
1            31            35                    0                   0
2             7             1                    0                   0
3             1             3                    0                   0
4            23            30                    0                   0

[5 rows x 48 columns]

In [5]:
address_column_name = 'PLCST_NM' 

    # --- 3. 전국구 데이터에서 '서울' 포함 행만 필터링 ---
    # 문자열 처리 함수(str)와 contains()를 사용하여 '서울'이라는 문자열을 포함하는 행만 선택
    # isnull()과 | (OR 연산자)를 사용하여 혹시 모를 결측치도 함께 포함합니다.
df_seoul = df_influence[
    df_influence[address_column_name].str.contains('서울', na=False)].copy()

print("✅ 서울 지역 데이터 필터링 완료!")
print(f"원본 데이터 크기: {len(df_influence)} 행")
print(f"서울 데이터 크기: {len(df_seoul)} 행")
print("\n[서울 필터링된 데이터 미리보기]")
print(df_seoul.head())

✅ 서울 지역 데이터 필터링 완료!
원본 데이터 크기: 242 행
서울 데이터 크기: 31 행

[서울 필터링된 데이터 미리보기]
   OCRN_YR PLCST_NM  SVLNC  DTVC  STKNG  RPRT_CASCNT_WHOL  RPRT_SEX_MALE  \
19    2022     서울용산    274   347    171               792            249
20    2022     서울성동    151   254    165               570            152
21    2022     서울중부    190   197    100               487            174
22    2022     서울광진    408   668    242              1318            428
23    2022    서울동대문    236   477    213               926            258

    RPRT_SEX_FMLE  RPRT_SEX_UNKWN  RPRT_SEX_ETC  ...  OCRN_TIZN_16  \
19            465              78             0  ...            19
20            366              52             0  ...            18
21            258              55             0  ...            22
22            748             142             0  ...            45
23            576              92             0  ...            29

    OCRN_TIZN_17  OCRN_TIZN_18  OCRN_TIZN_19  OCRN_TIZN_20  OCRN_TIZN_21  \
19            30            25            25            27            24
20            17            18            26            21            29
21            14            18            21            24            25
22            27            40            52            64            65
23            28            45            33            43            66

    OCRN_TIZN_22  OCRN_TIZN_23  MNTH_AVE_INCOME_AMT  TOTL_RESID_PUL_CNT
19            53            58                15494             3815343
20            36            33                18330             3533378
21            37            39                 5077             3496024
22           108           114                23592             3050692
23            69            69                25842             3009513

[5 rows x 48 columns]

In [8]:
df_seoul['PLCST_NM']

19     서울용산
20     서울성동
21     서울중부
22     서울광진
23    서울동대문
24     서울중랑
25     서울성북
26     서울종암
27     서울강북
29     서울도봉
30     서울노원
31     서울서부
32     서울은평
33    서울서대문
34     서울마포
35     서울양천
36     서울관악
37     서울서초
38     서울방배
39     서울강남
40     서울수서
41     서울송파
42     서울강동
47     서울강서
48     서울구로
49     서울금천
50    서울영등포
51     서울동작
62     서울종로
63     서울혜화
64    서울남대문
Name: PLCST_NM, dtype: object