In [14]:
import pandas as pd

file_name = "X13_독거노인현황2.csv"

df_original = pd.read_csv(
    f"./{file_name}",
    encoding="utf-8",
    engine="python",       # C 엔진 대신 Python 엔진 사용
    on_bad_lines="skip",   # 깨진 줄 무시
)

df = df_original.copy()
df.head(15)

    동별(1)  동별(2)        동별(3)    2020    2021    2022    2023    2024
0   동별(1)  동별(2)        동별(3)      합계      합계      합계      합계      합계
1   동별(1)  동별(2)        동별(3)       계       계       계       계       계
2   동별(1)  동별(2)        동별(3)       여       여       여       여       여
3   서울특별시     소계           소계  248176  263917  283884  298503  320592
4   서울특별시    종로구           소계    5895    5188    5402    6430    5373
5   서울특별시    종로구          사직동     395     330     342     359     344
6   서울특별시    종로구          삼청동     168     131     142     135     119
7   서울특별시    종로구          부암동     322     273     293     301     289
8   서울특별시    종로구          평창동     554     506     580     608     572
9   서울특별시    종로구          무악동     232     207     239     325     250
10  서울특별시    종로구          교남동     356     294     318     402     324
11  서울특별시    종로구          가회동     212     178     176     180     173
12  서울특별시    종로구  종로1.2.3.4가동     524     467     354     411     339
13  서울특별시    종로구      종로5.6가동     260     219     240     280     213
14  서울특별시    종로구          이화동     345     294     302     391     287

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동별(1)   458 non-null    object
 1   동별(2)   458 non-null    object
 2   동별(3)   458 non-null    object
 3   2020    458 non-null    object
 4   2021    458 non-null    object
 5   2022    458 non-null    object
 6   2023    458 non-null    object
 7   2024    458 non-null    object
dtypes: object(8)
memory usage: 28.8+ KB

In [16]:
df.isnull().sum()

동별(1)    0
동별(2)    0
동별(3)    0
2020     0
2021     0
2022     0
2023     0
2024     0
dtype: int64

In [17]:
df.columns.tolist()

['동별(1)', '동별(2)', '동별(3)', '2020', '2021', '2022', '2023', '2024']

In [18]:
df = df.drop(index=[0, 1, 2]).reset_index(drop=True)
df

     동별(1) 동별(2) 동별(3)    2020    2021    2022    2023    2024
0    서울특별시    소계    소계  248176  263917  283884  298503  320592
1    서울특별시   종로구    소계    5895    5188    5402    6430    5373
2    서울특별시   종로구   사직동     395     330     342     359     344
3    서울특별시   종로구   삼청동     168     131     142     135     119
4    서울특별시   종로구   부암동     322     273     293     301     289
..     ...   ...   ...     ...     ...     ...     ...     ...
450  서울특별시   강동구  천호2동    1016    1036    1107    1168    1368
451  서울특별시   강동구    길동    1020    1123    1235    1361    1596
452  서울특별시   강동구   강일동       -     747     884     968    1103
453  서울특별시   강동구  상일1동       -     436     480     481     590
454  서울특별시   강동구  상일2동       -     285     318     337     373

[455 rows x 8 columns]

In [19]:
# 2. 컬럼명을 다시 한번 정리합니다.
df.columns = df.columns.str.strip()

df = df.drop(df.columns[0], axis=1)

df.rename(columns={'동별(2)': '지역구', '동별(3)': '동별'}, inplace=True)
print(len(df))
df.head(15)

455

    지역구           동별    2020    2021    2022    2023    2024
0    소계           소계  248176  263917  283884  298503  320592
1   종로구           소계    5895    5188    5402    6430    5373
2   종로구          사직동     395     330     342     359     344
3   종로구          삼청동     168     131     142     135     119
4   종로구          부암동     322     273     293     301     289
5   종로구          평창동     554     506     580     608     572
6   종로구          무악동     232     207     239     325     250
7   종로구          교남동     356     294     318     402     324
8   종로구          가회동     212     178     176     180     173
9   종로구  종로1.2.3.4가동     524     467     354     411     339
10  종로구      종로5.6가동     260     219     240     280     213
11  종로구          이화동     345     294     302     391     287
12  종로구         창신1동     316     293     266     386     289
13  종로구         창신2동     393     377     415     571     428
14  종로구         창신3동     203     190     212     262     214

In [22]:
subtotal_df = df[df['동별'] == '소계'].copy()
# 1. 첫 번째 행 (인덱스 0) 삭제
subtotal_df.drop(index=0, inplace=True)
# 2. '동별' 컬럼 삭제
subtotal_df.drop(columns='동별', inplace=True)
# 3. '지역구' 컬럼을 기준으로 오름차순 정렬
subtotal_df.sort_values(by='지역구', ascending=True, inplace=True)
subtotal_df.reset_index(drop=True, inplace=True)
subtotal_df

     지역구   2020   2021   2022   2023   2024
0    강남구   9518  10690  13230  14399  16359
1    강동구   9559  10647  11407  12149  14763
2    강북구  11520  16884  17740  13468  14192
3    강서구  14170  15293  16453  17355  26350
4    관악구  14082  13406  13898  14698  15566
5    광진구   7689   8177  11434   9026   6526
6    구로구  10016  10604  11366  12105  13913
7    금천구   6690   6916   7321   7728  12184
8    노원구  15783  16983  17628  25905  19632
9    도봉구   9571  10154  10810  11522  12668
10   동대문  10387  10922  11322  11817  12188
11   동작구  10324  10410  10699  11179  11588
12   마포구   9053   9351   9969  10069  10279
13  서대문구   8719   9514   9533   9952  10284
14   서초구   6669   7118   7409   7555   7892
15   성동구   9496   7587   7622   8076   8287
16   성북구  12058  12674  12965  13664  19088
17   송파구  11733  12617  16788  17064  14789
18   양천구   9779  10413  11405  12081  12758
19  영등포구   8997   9739   9919  10481  10875
20   용산구   6911   7297   6501   6783   8341
21   은평구  13448  14284  15243  16024  16777
22   종로구   5895   5188   5402   6430   5373
23    중구   4291   4525   4493   4750   4862
24   중랑구  11818  12524  13327  14223  15058

In [ ]:
# # '지역구' 컬럼이 '소계'인 경우 (조건 A)
# condition_a = df['지역구'].str.strip() == '소계'

# # '동별' 컬럼이 '소계'인 경우 (조건 B)
# condition_b = df['동별'].str.strip() == '소계'

# # 조건 A 또는 조건 B에 해당하는 행을 제외하고 (논리 부정 ~) 선택합니다.
# df = df[~(condition_a | condition_b)].copy()

# df = df.reset_index(drop=True)

# # 결과 확인
# print("--- '지역구' 또는 '동별' 컬럼에 '소계'가 포함된 행 제거 완료 ---")
# print(f"남아있는 행의 총 개수: {len(df)}")
# print(df.head(20))

In [ ]:
# csv 파일 저장
file_name = "X13_전처리_여성독거노인_현황_2020_2024.csv"

df.to_csv(
    file_name,
    index=False,
    encoding='utf-8'
)

print(f"✔️ 데이터가 '{file_name}'으로 성공적으로 저장되었습니다.")

✔️ 데이터가 'X13_전처리_여성독거노인현황.csv'으로 성공적으로 저장되었습니다.