In [1]:
import pandas as pd
file_name = "Y15_경찰청 서울특별시경찰청_경찰서별 경찰관 수 현황_20241231.csv"
df_original = pd.read_csv(f"./{file_name}",encoding="euc-kr")
df = df_original.copy()
df.head()

,경찰서,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,2024년
0,중부,475,484,499,501,497,518,526,528,533,517,519,517,514,496
1,종로,591,599,604,615,604,652,655,657,662,661,662,616,599,564
2,남대문,448,458,449,484,460,501,503,512,507,500,502,502,491,452
3,서대문,606,616,630,641,646,678,682,688,674,681,692,679,674,638
4,혜화,446,458,459,468,462,483,485,493,493,470,469,464,466,428

In [2]:
df.columns = [col.replace('년', '') for col in df.columns]
df.head()

,경찰서,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,중부,475,484,499,501,497,518,526,528,533,517,519,517,514,496
1,종로,591,599,604,615,604,652,655,657,662,661,662,616,599,564
2,남대문,448,458,449,484,460,501,503,512,507,500,502,502,491,452
3,서대문,606,616,630,641,646,678,682,688,674,681,692,679,674,638
4,혜화,446,458,459,468,462,483,485,493,493,470,469,464,466,428

In [3]:
df = df[['경찰서'] + [str(y) for y in range(2020, 2025)]]
df = df.sort_values(by='2024', ascending=False).reset_index(drop=True)
df

    경찰서  2020  2021  2022  2023  2024
0    송파  1050  1047  1084  1095  1057
1   영등포  1010  1009  1008  1014   989
2    강서   939   946   963   971   946
3    강남   883   908   924   944   931
4    마포   891   902   924   918   899
5    관악   913   913   945   949   894
6    용산   703   719   806   842   809
7   동대문   824   837   837   828   802
8    노원   804   810   824   826   781
9    서초   733   759   775   786   779
10   중랑   756   776   781   781   740
11   강동   753   768   787   785   737
12   광진   729   745   751   759   734
13   구로   737   761   772   779   728
14   양천   753   754   764   758   721
15   수서   646   661   684   693   677
16   강북   668   679   691   689   652
17   동작   668   672   687   688   644
18  서대문   681   692   679   674   638
19   성동   627   641   649   639   601
20   금천   566   585   600   595   566
21   종로   661   662   616   599   564
22   도봉   567   567   574   573   544
23   중부   517   519   517   514   496
24   성북   529   527   527   517   474
25  남대문   500   502   502   491   452
26   서부   415   456   471   477   445
27   은평   492   470   474   475   437
28   혜화   470   469   464   466   428
29   종암   408   403   413   414   383
30   방배   357   362   367   364   342

In [4]:
# 컬럼명 변경
df.rename(columns={'경찰서': '지역구'}, inplace=True)

# 지역구 이름에 '구' 붙이기
df['지역구'] = df['지역구'].astype(str) + '구'

# 지역구 기준 오름차순 정렬
df = df.sort_values(by='지역구').reset_index(drop=True)

# 결과 확인
print(df)

     지역구  2020  2021  2022  2023  2024
0    강남구   883   908   924   944   931
1    강동구   753   768   787   785   737
2    강북구   668   679   691   689   652
3    강서구   939   946   963   971   946
4    관악구   913   913   945   949   894
5    광진구   729   745   751   759   734
6    구로구   737   761   772   779   728
7    금천구   566   585   600   595   566
8   남대문구   500   502   502   491   452
9    노원구   804   810   824   826   781
10   도봉구   567   567   574   573   544
11  동대문구   824   837   837   828   802
12   동작구   668   672   687   688   644
13   마포구   891   902   924   918   899
14   방배구   357   362   367   364   342
15  서대문구   681   692   679   674   638
16   서부구   415   456   471   477   445
17   서초구   733   759   775   786   779
18   성동구   627   641   649   639   601
19   성북구   529   527   527   517   474
20   송파구  1050  1047  1084  1095  1057
21   수서구   646   661   684   693   677
22   양천구   753   754   764   758   721
23  영등포구  1010  1009  1008  1014   989
24   용산구   703   719   806   842   809
25   은평구   492   470   474   475   437
26   종로구   661   662   616   599   564
27   종암구   408   403   413   414   383
28   중랑구   756   776   781   781   740
29   중부구   517   519   517   514   496
30   혜화구   470   469   464   466   428

In [5]:
# csv파일로 저장
file_name = 'Y15_전처리_경찰청 서울특별시경찰청_경찰서별 경찰관 수 현황.csv'

# DataFrame을 CSV 파일로 저장합니다.
df.to_csv(file_name, encoding='utf-8', index=False)

print(f"DataFrame이 '{file_name}' 이름으로 저장되었습니다.")

DataFrame이 'Y15_전처리_경찰청 서울특별시경찰청_경찰서별 경찰관 수 현황.csv' 이름으로 저장되었습니다.